@import "tailwindcss";

:root {
  /* Cores Retrô */
  --snake:        #9ae46a; /* Verde mais claro */
  --snake-head:   #7CFC00; /* Verde limão brilhante */
  --screen:       #202022; /* Fundo do jogo */
  --screen-darker:#1a1a1c; /* Fundo da página */
  --food:         #e23711; /* Vermelho/Laranja */
  --border:       #4a4a4e; /* Borda cinza */
  --text:         #e0e0e0; /* Texto quase branco */
}

@layer base {
  body {
    @apply bg-retro-screen-darker text-retro-text;
  }
}

/* Adicionando as cores ao tema do Tailwind */
@theme {
  --color-retro-snake: var(--snake);
  --color-retro-snake-head: var(--snake-head);
  --color-retro-screen: var(--screen);
  --color-retro-screen-darker: var(--screen-darker);
  --color-retro-food: var(--food);
  --color-retro-border: var(--border);
  --color-retro-text: var(--text);

  /* Configurando a família de fontes */
  --font-retro: 'Press Start 2P', cursive;
}
